/* img { max-width: 343.328px; height: auto; } */
* {
  box-sizing: border-box;
}

/* body {
  margin: 0 auto;
  min-width: 1140px;
  font-family: "Helvetica";
  
} */

.navbar{
  display: flex;
  justify-content:center; 
  align-items : center;
}

.logo{
  line-height: 60px;
  float: left;
}

.logo img{
  vertical-align: middle;
}

.navbar ul{
  float: right;
  
}

.navbar li{
  list-style-type: none;
  float: left;
  /* margin-right: 20px; */
/*   margin-top: 30px; */
  /* display: inline-block; */
  padding: 20px;
  
}

.navbar a{
  text-decoration: none;
  color: black;
  font-style: bold;
  font-size: 13px;
  text-align: center;
}


body h1{
  text-align: center;
  margin-top: 60px;
  margin-bottom: 60px;
  font-size: 24px;
  font-style: bold;
  color: #545454;
}

.row {
	margin-left: auto;
  	margin-right: auto;
  	padding: 0;
  	text-align: center;
	
}

/* .bestProduct {
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  text-align: center;
} */


.bestProduct p {
	margin-top: 10px;
	font-weight: bold;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
 
.bestProduct img{
   max-width:339.98px; /* 360px; *//* 343.328px; */
   height: 339.98px;
  
}

.bestProduct a{
  text-decoration: none;
  color: black;
  float: left;
  font-size: 16px;
  
  padding: 0px 15px 40px 15px;
} 

/* .products {
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  text-align: center;
  float: left;
} */

.products p {
	
	width: 212.5px;
	height: 30px;
	margin-top: 10px;
	font-weight: bold;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	float: left;
}
 
.products img{
  width: 212.5px;
  height: 212.5px;
  float: left;
  
}

.products a{
  text-decoration: none;
  color: black;
  float: left;
  font-size: 16px;
  
  padding: 0px 15px 40px 15px;
} 


/* 

.products {
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  width: 1120px;
  text-align: center;
}

.products p {
	width: 230px;
	height: 30px;
	
	margin-top: 10px;
	font-weight: bold;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.products img{
  width: 230px;
  height: 230px;
}

.products a{
  text-decoration: none;
  color: black;
  float: left;
  font-size: 16px;
  
  padding: 0px 25px 40px 25px;
}
 */
.products ul{
	text-align:center;
	padding: 0px;
}

.products li{
	display:inline-block;
}


.price{
  margin-top: 4px;
  margin-bottom: 30px;
}

/* .row {
	float: none;
	margin: 0 auto;
}

.col-md-12{
	float: none;
	margin: 0 auto;
}

.col-md-4{
	float: none;
	margin: 0 auto;
}

.col-md-3{
	float: none;
	margin: 0 auto;
	
} */
